<?xml version="1.0" encoding="UTF-8"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxexamplemenu">
            <SUBMENU id="mxexample" cl="oxsadminmenuextxample" list="oxsadminmenuextxample_list">
                <TAB id="tbcloxsadminmenuextxample_main" cl="oxsadminmenuextxample_main" />
                <TAB id="tbcloxsadminmenuextxample_extends" cl="oxsadminmenuextxample_extends" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>
